<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AboutUs</title>
</head>
<body>
<h1 style="font-style: revert;font-weight: bolder;color: blue">Contact Us</h1>
<p>

Have questions, feedback, or suggestions? We'd love to hear from you! Get in touch with our team and let us know how we can help you on your journey to a life filled with leisure and enjoyment.</p>
<img src="images/" alt="">
</body>
</html>