<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    
</head>
<body bgcolor="olive">
<h1>Leisure Activities</h1>
<p>Leisure activities encompass a wide range of pursuits that people engage in during their free time for relaxation, enjoyment, and personal fulfillment. Here are some popular leisure activities:
<div>  Reading: Whether it's fiction, non-fiction, magazines, or newspapers, reading is a timeless leisure activity that offers knowledge, entertainment, and escapism.
</div>

<img src="{% static 'images/cars1.jpeg' %}" alt="">
<br>
<hr>
<div> Sports and Fitness: From team sports like basketball and soccer to individual activities like running, yoga, or cycling, sports and fitness pursuits not only improve physical health but also provide social interaction and stress relief.
</div>

<br>
<hr>
<div>Gardening: Tending to a garden, whether it's a small plot of land or a collection of indoor plants, offers relaxation, creative expression, and the satisfaction of watching plants grow and thrive.
</div>

<br>
<hr>
<div>  Cooking and Baking: Experimenting with recipes, cooking meals from scratch, and baking delicious treats can be both a creative outlet and a way to unwind while enjoying the fruits of your labor.</div>
  
   
    
  
</p>





</body>
</html>